<div class="container">
  <%= form_with model: @blog_post, local: true, class: 'needs-validation' do |form| %>
    <% if @blog_post.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h4 class="alert-heading"><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog post from being saved:</h4>
        <ul>
          <% @blog_post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control', placeholder: 'Enter the title of your blog post' %>
    </div>

    <div class="mb-3">
      <%= form.label :body, class: 'form-label' %>
      <%= form.text_area :body, class: 'form-control', rows: 6, placeholder: 'Write the content of your blog post here...' %>
    </div>

    <div class="text-left">
      <%= form.submit 'Save Blog Post', class: 'btn btn-primary btn-lg me-2' %>
      <%= link_to 'Back', root_path, class: 'btn btn-secondary btn-lg' %>
    </div>
  <% end %>
</div>